/* Background image */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-image: url(/Images/Movie\ Theatre.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.navbar-brand {
    color: white;
}


/* Index.html Poster Size */

#movies img,
#movie img {
    width: 65%;
}


/* Movie.html Header */

H2,
H3 {
    margin-top: 10px;
    text-align: center;
}


/* Movie Poster @ movie.html - Mobile S/M/L */

@media(min-width:300px) and (max-width:767px) {
    #poster {
        position: relative;
        left: 16vw;
    }
}


/* Plot & Below @ movie.html - Mobile S/M/L */

@media(min-width:300px) and (max-width:575px) {
    #desc {
        margin: 10px auto;
    }
}


/* Movie Poster @ movie.html - Tablet */

@media(min-width:768px) {
    #movie img {
        width: 100%;
        margin-top: 26%;
    }
}


/* Movie Poster @ movie.html - Laptop */

@media(min-width:992px) {
    #movie img {
        width: 90%;
        margin-top: 20%;
    }
}


/* Movie Poster @ movie.html - Desktop */

@media(min-width:1200px) {
    #movie img {
        width: 90%;
        margin-top: 16%;
    }
}


/* Footer */

.container-footer {
    text-align: center;
    font-size: 0.7rem;
    color: white;
}


/* .footersocialmedia {
    padding-top: 20px;
    padding-bottom: 10px;
} */


/* .footertext {
    margin-bottom: 20px;
} */